<template>
  <div v-html="footer" class="footer"></div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'TheFooter',
  setup() {
    return {
      footer: window.__PRE_CONFIG__.footer
    };
  }
});
</script>

<style>
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 70px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(0,0,0,0.08);
}

.footer p {
  color: #313131;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .footer{
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255,255,255,0.08);
  }
  .footer p,.footer a{
    color: rgba(255, 255, 255, .8) !important;
  }
}

.footer p a {
  vertical-align: middle;
  transition: color .3s ease;
}

.footer p a:hover {
  color: #77b2ff !important;
}
</style>
